<template name="instanceHeader">
  <div class="col-md-8 app-manage-buttons">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button class="btn btn-danger select-all">Select All</button>
        {{#if selectedAppInstancesCount}}
        <button type="button" class="btn btn-primary clear-all">Clear {{selectedAppInstancesCount}} Selected</button>
        {{/if}}
      </div>
      <div class="btn-group">
        <button class="btn btn-primary newAppInstance">New</button>
        {{#if selectedAppInstancesCount}}
        <button type="button" class="btn btn-primary rebuild">Rebuild</button>
        <button type="button" class="btn btn-primary restart">Restart</button>
        <button type="button" class="btn btn-primary activate">Activate</button>
        <button type="button" class="btn btn-primary deactivate">Deactivate</button>
        <button type="button" class="btn btn-primary stop">Stop</button>
        <button type="button" class="btn btn-primary kill">Kill</button>
        <button type="button" class="btn btn-primary remove">Remove</button>

        {{/if}}
      </div>
    </div>
  </div>
</template>