@import "/packages/bootstrap3-less/bootstrap.import.less";
@import "/packages/bootstrap3-less/lib/less/theme.import.less";
@import "/packages/font-awesome-4-less/font-awesome.import.less";
@import url('//fonts.googleapis.com/css?family=Black+Ops+One|Cuprum:400,700,400italic');

// @navbar-inverse-bg: #FF69B4; // needs a fabulous color ;)
// @navbar-inverse-color: black;
// @navbar-inverse-link-color: black;
@font-family-sans-serif: "Cuprum", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-family: "Black Ops One";
@font-size-base: 18px;
@navbar-border-radius: 0px;
@navbar-inverse-brand-color: #fff;

h2 {
  margin-top:0px;
}
.rocker {
  .h2
}
.entry-logo {
  height: 20px;
  padding-left: 40px;
}

.entry {
  background: inherit;
}

.navbar-brand {
    font-family: "Black Ops One";
    letter-spacing: 3px;
}

.btn {
  margin: 2px;
}
.active-hosts span {
  padding-left: 5px;
  padding-right: 5px;
}
.table-striped > tbody > tr.selected:nth-child(odd) > td,
.table-striped > tbody > tr.selected:nth-child(odd) > th,
.table-striped > tbody > tr.selected:nth-child(even) > td,
.table-striped > tbody > tr.selected:nth-child(even) > th {
  background-color: #A9B7D1 !important;
}
