<template name="layout">
	<div class="navbar navbar-inverse" role="navigation">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="{{pathFor 'dashboard'}}">Launch Dock</a>
	  </div>
	  <div class="navbar-collapse collapse">
	  	{{#if currentUser}}
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'apps'}}active{{/if}}"><a href="{{pathFor 'apps'}}">Containers</a></li>
	    </ul>
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'images'}}active{{/if}}"><a href="{{pathFor 'images'}}">Images</a></li>
	    </ul>
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'hosts'}}active{{/if}}"><a href="{{pathFor 'hosts'}}">Hosts</a></li>
	    </ul>
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'settings'}}active{{/if}}"><a href="{{pathFor 'settings'}}">Settings</a></li>
	    </ul>
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'addapp'}}active{{/if}}" id="">
					<!-- Button trigger modal -->
					<button class="btn btn-primary btn-lg launch-button" data-toggle="modal" data-target="#appCreateModal">
					  Launch a new application container
					</button>
					{{>createAppInstance}}
	      </li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      {{> loginButtons}}
	    </ul>
	    {{/if}}
	  </div>
	</div>
	<div class="container-fluid">
		{{> yield}}
	</div>
</template>