<template name="hosts">
  <div class="container-fluid">
    <h2>Hosts</h2>
    <div class="col-md-4">
      {{#autoForm id="hostInsertForm" role="form" collection="Hosts" class="form-horizontal" type="method" meteormethod="host/add"}}
        {{> afQuickField name="privateHost" placeholder="xx.xx.xx.xx" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        {{> afQuickField name="publicHost" placeholder="xx.xx.xx.xx" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        {{> afQuickField name="protocol" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <p>Use the same host for public/private if you aren't using a secure VPC</p>
          </div>
        </div>

        {{> afQuickField name="port" placeholder="2375" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        {{> afQuickField name="max" placeholder="100" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        {{> afQuickField name="shared" placeholder="0" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        {{> afQuickField name="tag" value=chanceTag template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Add to pool</button>
          </div>
        </div>
      {{/autoForm}}
    </div>
    <div class="col-md-8">
      <ul class="list-group active-hosts">
        <li class="list-group-item active">
          <button class="pull-right btn btn-default btn-xs" id="refresh-hosts" style="margin-top: 0">Refresh</button>
          <span>Hosts</span>
        </li>
        {{#each this}}
          <li class="list-group-item list-group-item-info">{{tag}}</li>
          <li class="list-group-item">
            {{#if displayControls}}
              <span class="pull-right fa fa-remove" id="delete-host"></span>
              {{#if active}}
              <span class="pull-right fa fa-pause" id="pause-host"></span>
              {{else}}
              <span class="pull-right fa fa-play" id="start-host"></span>
              {{/if}}
            {{/if}}
            <div>{{privateHost}}:{{port}} (<em>Public: {{publicHost}}:{{port}}</em>)</div>
            <div>{{#if active}}<strong style="color: green">Active</strong>{{else}}<strong style="color: gray">Inactive</strong>{{/if}}</div>
            <div><strong>Containers:</strong> {{details.Containers}}/{{max}}</div>
            <div><strong>Images:</strong></div>
            {{#if dockerImages}}
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>ID</th>
                  <th>Virtual Size</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody>
                {{#each dockerImages}}
                <tr>
                  <th>{{name}}</th>
                  <th><span title="{{id}}">{{shortId}}</span></th>
                  <th>{{virtualSizeFormatted}}</th>
                  <th>{{createdAtFormatted}}</th>
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
</div>
</template>
