<template name="layout">
	<div class="navbar navbar-inverse" role="navigation">
	  <div class="navbar-header">
	  {{#if currentUser}}
	    <a class="navbar-brand" href="{{pathFor 'dashboard'}}">Launch Dock</a>
	  {{else}}
	  	<a class="navbar-brand" href="{{pathFor 'index'}}">Launch Dock</a>
	  {{/if}}
	  </div>
	  <div class="navbar-collapse collapse">
	  	{{#if currentUser}}
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'containers'}}active{{/if}}"><a href="{{pathFor 'containers'}}">Containers</a></li>
	    </ul>
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'images'}}active{{/if}}"><a href="{{pathFor 'images'}}">Images</a></li>
	    </ul>
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'hosts'}}active{{/if}}"><a href="{{pathFor 'hosts'}}">Hosts</a></li>
	    </ul>
	    <ul class="nav navbar-nav">
	      <li class="{{#if currentPageIs 'addapp'}}active{{/if}}">
					<!-- Button trigger modal -->
					<button class="btn btn-primary btn-lg launch-button" data-toggle="modal" data-target="#appCreateModal">
					  Launch a new application container
					</button>
					{{>createAppInstance}}
	      </li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      {{> accountButtons}}
	    </ul>
	    {{/if}}
	  </div>
	</div>
	{{#if currentUser}}
	<div class="nav pull-right">
	  <div class="col-md-12">Your Hosts: <span class="badge">{{getPublishedCount 'userHostCounter'}}</span> All Hosts: <span class="badge">{{getPublishedCount 'totalHostCounter'}}</span> Active Hosts: <span class="badge">{{getPublishedCount 'runningHostCounter'}}</span> Containers: <span class="badge">{{getPublishedCount 'appInstanceCounter'}} </span></div>
	</div>
	{{/if}}
	<div class="container-fluid">
		{{> yield}}
	</div>
</template>
