<template name="dashboard">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <span class="rocker">Hosts</span>
          <div class="rocker-toolbar pull-right">Hosts: <span class="badge">{{totalHosts}}</span> Active: <span class="badge">{{runningHosts.count}}</span> Instances: <span class="badge">{{totalInstances}}</span></div>
        </div>
      </div>
      <div class="panel-body">
      {{#each runningHosts}}
        <div class="col-sm-6 metric-wrapper">
          <div class="row metric-container">
            <div class="metric-gauge col-sm-6">
              <canvas class="img-responsive host-gauge" id="{{_id}}">{{hostGuage}}</canvas>
            </div>
            <div class="col-sm-6">
              <div class="metric-tag">{{tag}}</div>
              <div class="host col-sm-12">
                {{publicHost}} / {{privateHost}}
              </div>
              <div class="address col-sm-12">
                Containers: {{details.Containers}}
              </div>

              <div class="running col-sm-12">
                Running: {{runningInstances}}
              </div>
              <div class="paused col-sm-12">
                Paused: {{pausedInstances}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
</template>