<template name="appInstanceDetails">
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'containers'}}">App Instances</a></li>
    <li class="active">{{_id}}</li>
  </ol>
  <table class="table">
    <tbody>
      <tr>
        <th>Instance ID</th>
        <td>{{_id}}</td>
      </tr>
      <tr>
        <th>Container ID</th>
        <td>{{#with containerId}}{{this}}{{else}}DEACTIVATED{{/with}}</td>
      </tr>
      <tr>
        <th>Container Process ID</th>
        <td>{{#with container.pid}}{{this}}{{else}}DEACTIVATED{{/with}}</td>
      </tr>
      <tr>
        <th>Image</th>
        <td>{{image}}</td>
      </tr>
      <tr>
        <th>Hosts</th>
        <td>
          {{#each hosts}}
          <div>
            <a href="http://{{this.publicHost}}" target="_blank">{{this.publicHost}}</a>
          </div>
          {{/each}}
        </td>
      </tr>
      <tr>
        <th>Port</th>
        <td>{{#each portsAsArray}}
            {{this}}
            {{else}}DEACTIVATED{{/each}}</td>
      </tr>
      <tr>
        <th>Available At</th>
        <td>
          {{#unless hosts}}
          {{#unless hostnames}}
          NOWHERE
          {{/unless}}
          {{/unless}}
          {{#unless containerId}}
          NOWHERE
          {{else}}
          {{#each hostnames}}
          <div>
            <a href="http://{{this}}" target="_blank">{{this}}</a>
          </div>
          {{/each}}
          {{/unless}}
        </td>
      </tr>
      <tr>
        <th>Environment Variables</th>
        <td>
        <div><strong>User Defined:</strong></div>
        {{#each envAsArray}}
          <div>{{this}}</div>
        {{/each}}
        </td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
        {{#if containerId}}
          {{status}}
        {{else}}
          DEACTIVATED
        {{/if}}
        </td>
      </tr>
      <tr>
        <th>Created At</th>
        <td>{{createdAtLong}}</td>
      </tr>
    </tbody>
  </table>
</template>
